{% extends "layout.html" %}

{% block title %}
    Baixa
{% endblock %}

{% block main %} 
    <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
        <h1 class='h2'>Baixa</h1>
            <form action='baixa' method='POST'>
                <div class='form-group'>
                    <!--Selection - Cliente-->
                        <select title='Selecione o cliente' alt='Selecione o cliente' class="form-control" name="cliente" required>
                            <option disabled selected value>Cliente</option>
                        {% for row in cliente %}
                            <option value="{{ row['nome'] }}">{{ row['nome'] }}</option>
                        {% endfor %}
                        </select>   
                        <input title='Número do título a ser baixado' alt='Número do título a ser baixado'name='titulo' autofocus class='form-control' placeholder='Título' type='text' required>
                        <input title='Data da baixa' alt='Data da baixa' name='dt_baixa' autofocus class='form-control' placeholder='Data da Baixa' type='date' required>                   
                </div>
                <button type='submit' id='baixa' class='btn btn-sm btn-outline-secondary'>Baixar</button>
            </form>
    </div>
    <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
        <div class='table-responsive'>
            <table class='table table-striped table-sm'>
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Sacado</th>
                        <th>Título</th>
                        <th>Valor</th>
                        <th>Vencimento</th>
                        <th>Tipo</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in titulo %}
                        <tr>
                            <td>{{ row['cliente_id'] }}</td>
                            <td>{{ row['nm_sac'] }}</td>
                            <td>{{ row['titulo'] }}</td>
                            <td>{{ row['valor'] }}</td>
                            {% set lt = row['vencimento'].split('-') %}
                            <td>{{ lt[2]+'/'+lt[1]+'/'+lt[0] }}</td>
                            <td>{{ row['tipo'] }}</td>
                            <td>{{ row['status'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}