{% extends "layout.html" %}

{% block title %}
    Bordero
{% endblock %}

{% block main %} 
</div>
    <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
        <h1 class='h2'>Bordero</h1>
        <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
            <h2>Total: {{ total }}</h2>
            <h2>Nº Títulos: {{ n_titulos }}</h2>
            <h2>Prazo Médio: {{ p_medio }}</h2>
            <h2>Fator: {{ fator }}</h2>
            <h2>Líquido: {{ liquido }}</h2>
            </form>
            <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
                <form action='bordero' method='POST'>
                    <button type='submit' class='btn btn-sm btn-outline-secondary'>Finalizar</button>                   
                </form>
                <form action='operacao' method='POST'>
                    <button type='submit' class='btn btn-sm btn-outline-secondary'>Voltar</button>                   
                </form>
            </div>
        </div>
        
    </div>
    <div class='table-responsive'>
        <table class='table table-striped table-sm'>
            <thead>
                <tr>
                    <th>Sacado</th>
                    <th>Título</th>
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for row in bordero %}
                    <tr>
                        <td>{{ row['sacado'] }}</td>
                        <td>{{ row['titulo'] }}</td>
                        <td>{{ row['valor'] }}</td>
                        <td>{{ row['vencimento'] }}</td>
                        <td>{{ row['tipo'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}