{% extends "layout.html" %}

{% block title %}
    Bordero
{% endblock %}

{% block main %} 
    <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
        <form action='bordero' method='POST'>
            <button onclick="printDiv('print')" value="print a div" class='btn btn-sm btn-outline-secondary'>Imprimir</button>                   
        </form>
        <form action='operacao' method='POST'>
            <button type='submit' class='btn btn-sm btn-outline-secondary'>Voltar</button>                   
        </form>
    </div>
    <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom' id='print'>
        <h1 class='h2'>Bordero</h1>
        <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
            <p>Total: {{ total }}</p>
            <p>Nº Títulos: {{ n_titulos }}</p>
            <p>Prazo Médio: {{ p_medio }}</p>
            <p>Fator: {{ fator }}</p>
            <p>Líquido: {{ liquido }}</p>           
        </div>
    </div>
    <div class='table-responsive'>
        <table class='table table-striped table-sm'>
            <thead>
                <tr>
                    <th>Sacado</th>
                    <th>Título</th>
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for row in bordero %}
                    <tr>
                        <td>{{ row['sacado'] }}</td>
                        <td>{{ row['titulo'] }}</td>
                        <td>{{ row['valor'] }}</td>
                        <td>{{ row['vencimento'] }}</td>
                        <td>{{ row['tipo'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}