{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}
    <form action='login' method='POST'>
        <div class='form-group'>
            <label>Usuário: </label>
            <input name='user' autofocus class='form-control' placeholder='Usuário' type='text'>
        </div>
        <div class='form-goup'>
            <label>Senha: </label>
            <input name='password' autofocus class='form-control' placeholder='Senha' type='password'>
        </div>
        <button class="btn btn-primary" type='submit'>Log in</button>
    </form>
    <h1>Sistema</h1>
{% endblock %}