{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}
<div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
    <form action='login' method='POST'>
        <div class='form-group'>
            <label>Usuário: </label>
            <input name='user' autofocus class='form-control-dark' placeholder='Usuário' type='text'>
        </div>
        <div class='form-goup'>
            <label>Senha: </label>
            <input name='password' autofocus class='form-control-dark' placeholder='Senha' type='password'>
        </div>
        <button class="btn btn-sm btn-outline-secondary" type='submit'>Log in</button>
    </form>
</div>
{% endblock %}