{% extends "layout.html" %}

{% block title %}
    Operação
{% endblock %}

{% block main %} 
    <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
        <h3>Operação</h3>
            <form action='operacao' method='POST'>
                <div class='form-group'>
                    <!--Selection - Cliente-->
                        <select class="form-control" name="cliente">
                            <option disabled selected value>Cliente</option>
                        {% for row in cliente %}
                            <option value="{{ row['nome'] }}">{{ row['nome'] }}</option>
                        {% endfor %}
                        </select>   
                    <!--Selection - Sacado
                        <select class="form-control" name="sacado">
                            <option disabled selected value>Sacado</option>
                        {% for row in sacado %}
                            <option value="{{ row['nome'] }}">{{ row['nome'] }}</option>
                        {% endfor %}
                        </select>-->
                        <input name='sacado' autofocus class='form-control' placeholder='Sacado' type='text'>
                        <input name='titulo' autofocus class='form-control' placeholder='Título' type='text'>
                        <input name='valor' autofocus class='form-control' placeholder='Valor' type='number' step='0.01' data-mask='000.000,00'>
                        <input name='vencimento' autofocus class='form-control' placeholder='Vencimento' type='date'>
                        <select class='form-control' name='tipo'>
                            <option disabled select value>Tipo</option>
                            <option value='cheque'>Cheque</option>
                            <option value='duplicata'>Duplicata</option>
                        </select>
                </div>        
                <button type='submit' class='btn btn-sm btn-outline-secondary'>Incluir</button>
            </form>
                <form action='bordero' method='POST'>
                    <button type="submit" class='btn btn-sm btn-outline-secondary'>Finalizar</button>                   
                </form>
                <form action='cancelar' method='POST'>
                    <button type="submit" class='btn btn-sm btn-outline-secondary'>Cancelar Operação</button>                   
                </form>  
    </div>
    <div class='-frame'>
        <iframe style="width:100%; min-height:500px;height:65%" marginwidth="0" marginheight="0" src='table' title='table' frameborder="0" noresize scrolling="auto"></iframe>
    </div>
{% endblock %}