{% extends "layout.html" %}

{% block title %}
    Operação
{% endblock %}

{% block main %} 
</div>
    <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
        <h1 class='h2'>Operação</h1>
        <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
            <form action='operacao' method='POST'>
                <div class='form-group'>
                    <label for=''>Lançar</label>
                    <!--Selection - Cliente-->
                    <div class="form-group">
                        <select class="form-control" name="cliente">
                            <option disabled selected value>Cliente</option>
                        {% for row in cliente %}
                            <option value={{ row['nome'] }}>{{ row['nome'] }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <!--Selection - Sacado-->
                    <div class="form-group">
                        <select class="form-control" name="sacado">
                            <option disabled selected value>Sacado</option>
                        {% for row in sacado %}
                            <option value={{ row['nome'] }}>{{ row['nome'] }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class='form-goup'>
                        <input name='titulo' autofocus class='form-control' placeholder='Título' type='text'>
                        <input name='valor' autofocus class='form-control' placeholder='Valor' type='number' step='0.01'>
                        <input name='vencimento' autofocus class='form-control' placeholder='Vencimento' type='date'>
                        <input name='tx' autofocus class='form-control' placeholder='Taxa' type='number' step='0.01'>
                        <select class='form-control' name='tipo'>
                            <option disabled select value>Tipo</option>
                            <option value='cheque'>Cheque</option>
                            <option value='duplicata'>Duplicata</option>
                        </select>
                    </div>
                </div>
                <button type='submit' class='btn btn-sm btn-outline-secondary'>Incluir</button>
            </form>
            <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
                <form action='bordero' method='POST'>
                    <button type='submit' class='btn btn-sm btn-outline-secondary'>Finalizar</button>                   
                </form>
            </div>
        </div>
        
    </div>
    <div class='table-responsive'>
        <table class='table table-striped table-sm'>
            <thead>
                <tr>
                    <th>Sacado</th>
                    <th>Título</th>
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for row in bordero %}
                    <tr>
                        <td>{{ row['sacado'] }}</td>
                        <td>{{ row['titulo'] }}</td>
                        <td>{{ row['valor'] }}</td>
                        <td>{{ row['vencimento'] }}</td>
                        <td>{{ row['tipo'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}