{% extends "layout.html" %}

{% block title %}
    Preparação
{% endblock %}

{% block main %} 
        <div class='d-flex justify-content-between flex-warp flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom'>
            <h3>Preparação</h3>   
            <form action='preparacao' method='POST'>
                    <div class='form-group'>
                        <!--Selection - Cliente-->
                            <select title="Selecione o Cliente"  alt='Selecione o Cliente' class="form-control" name="cliente" required>
                                <option disabled selected value>Cliente</option>
                            {% for row in cliente %}
                                <option value="{{ row['nome'] }}">{{ row['nome'] }}</option>
                            {% endfor %}
                            </select>
                            <input title="Data de Negociação" alt="Data de Negociação" name='dt_negoc' autofocus class='form-control' placeholder='Data de Negociação' type='date' required>
                    </div>        
                    <button type='submit' class='btn btn-sm btn-outline-secondary'>Prosseguir</button>                       
                </form>
        </div>
{% endblock %}